APP_ENV=dev
APP_SECRET=change_me
DATABASE_URL="postgresql://invoicing_user:invoicing_pass@postgres:5432/invoicing_db?serverVersion=16&charset=utf8"
MESSENGER_TRANSPORT_DSN=amqp://rabbitmq_user:rabbitmq_pass@rabbitmq:5672/%2f
